html {
    --border-color: #053F5E;
    --primary-color: #022C43;
    --secondary-color: #053F5E;
    --font-color: #ffffff;
    --dark-bg-font-color: #fff;
    --red-color: #ce5858;
    --shadow-color: #0000006c;
}