html {
    --border-color: #d6d6d6;
    --primary-color: #fff;
    --secondary-color: #276a8f;
    --font-color: #000;
    --dark-bg-font-color: #fff;
    --red-color: #ca4c4c;
    --shadow-color: #0000003f;
}